.explorationPage{
    background-image: url('../image/img_exploration.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: var(--fc-base);
    font-family: var(--ff-base);
    flex-direction: column;
    justify-content: center;
    padding-left: 7.2rem;
}

.explorationTitle{
    margin-bottom: 2rem;
}

.explorationText{
    font-size: 1.8rem;
    line-height: 160%;
    text-align: justify;

    width: 68rem;
    margin-bottom: 1.3rem;
}

